<%= form_with(model: progress, local: true) do |form| %>
  <% if progress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(progress.errors.count, "error") %> prohibited this progress from being saved:</h2>

      <ul>
      <% progress.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :progress_user_id %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name, id: :progress_company_name %>
  </div>

  <div class="field">
    <%= form.label :business_category %>
    <%= form.number_field :business_category, id: :progress_business_category %>
  </div>

  <div class="field">
    <%= form.label :occupation_category %>
    <%= form.number_field :occupation_category, id: :progress_occupation_category %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :progress_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
