<%= form_with(model: progress, local: true) do |form| %>
  <% if progress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(progress.errors.count, "error") %> prohibited this progress from being saved:</h2>

      <ul>
      <% progress.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ユーザーID %>
    <%= form.number_field :user_id, id: :progress_user_id %>
  </div>

  <div class="field">
    <%= form.label :会社 %>
    <%= form.text_field :company_name, id: :progress_company_name %>
  </div>

  <div class="field">
    <%= form.label :業種 %>
    <%= form.select :business_category, Progress.business_categories.keys.to_a, {} %>
  </div>

  <div class="field">
    <%= form.label :職種 %>
    <%= form.select :occupation_category, Progress.occupation_categories.keys.to_a, {} %>
  </div>

  <div class="field">
    <%= form.label :選考状況 %>
    <%= form.select :status, Progress.statuses.keys.to_a, {} %>
  </div>

  <div class="actions">
    <%= form.submit '登録' %>
  </div>
<% end %>
