<p id="notice"><%= notice %></p>
<div class="container">
<h2>選考状況詳細</h2>
<div class="top-menu raw">
<%= link_to 'ユーザーページに戻る', user_path(@progress.user_id), :class=>'btn btn-primary'%>
</div>
<ul class="company-data list-group">
  <li class="list-group-item">ユーザー: <%= @progress.user_id %></li>
  <li class="list-group-item">会社:    <%= @progress.company_name %></li>
  <li class="list-group-item">業種:    <%= @progress.business_category %></li>
  <li class="list-group-item">職種:    <%= @progress.occupation_category %></li>
  <li class="list-group-item">選考状況: <%= @progress.status %></li>
</ul>
<h2><%= @progress.company_name %>の選考状況<h2>
<div class="graph-outer center-block panel">
<p>選考中</p>
<%= area_chart @chart_data0 %>
<p>内定！</p>
<%= area_chart @chart_data1, colors: ["pink", "#999"] %>
<p>おちた</p>
<%= area_chart @chart_data2 ,colors: ["black", "#000"]%>
</div>
</div>
