<%= form_for(@user, url:users_path) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sex %>
    <%= f.select :sex, User.sexes.keys.to_a, {} %>

  </div>
  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :univ %>
    <%= f.select :univ, User.univs.keys.to_a, {} %>
  </div>
  <div class="field">
    <%= f.label :grade %>
    <%= f.number_field :grade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end%>
