<%= form_for(@user, url:user_path) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sex %>
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :univ %>
    <%= f.text_field :univ %>
  </div>
  <div class="field">
    <%= f.label :grade %>
    <%= f.text_field :grade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end%>
