<div class="container">
<h1>ユーザー編集</h1>

<div class="raw">
  <%= link_to 'ユーザー一覧', users_path, :class=>'btn btn-warning' %>
  <%= link_to 'ユーザー詳細', user_path, :class=>'btn btn-info' %>
  <%= link_to 'ユーザー削除', @user, method: :delete, data: { confirm: '本当にユーザーを削除しますか?' }, :class=>'btn btn-danger' %>
  <%= link_to '統計ページ', graphs_path, :class=>'btn btn-primary' %>
</div>

<div class="dataform center-block">
<%= render partial: 'form' %>
</div>
</div>
