<h1>Users index</h1>

<p><%= link_to '統計ページ', graphs_path %></p>
<p><%= link_to '新規ユーザー作成', new_user_path %></p>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-default">
  <tr>
    <th>Username</th>
    <th>Sex</th>
    <th>Age</th>
    <th>Univ</th>
    <th>Grade</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user.id) %></td>
        <td><%= user.sex %></td>
        <td><%= user.age %></td>
        <td><%= user.univ %></td>
        <td><%= user.grade %></td>
      </tr>
  <% end %>
  </tbody>
</table>
