<div class="container">
<h1>ユーザー詳細</h1>


<%= link_to 'ユーザー一覧', users_path, :class=>'btn btn-info'%>
<%= link_to 'ユーザー編集', edit_user_path, :class=>'btn btn-success'%>
<%= link_to 'ユーザー削除', @user, method: :delete, data: { confirm: '本当にユーザーを削除しますか?' }, :class=>'btn btn-danger' %>

<%= link_to '選考進捗状況追加', new_progress_path(user_id: @user.id), :class=>'btn btn-warning'%>

<%= link_to '統計ページ', graphs_path, :class=>'btn btn-primary'%>
<h2>ユーザーデータ</h2>
<ul class="user-data list-group">
  <li class="list-group-item">名前:  <%= @user.name %></li>
  <li class="list-group-item">性別:  <%= @user.sex %></li>
  <li class="list-group-item" class="list-group-item" class="list-group-item">年齢:  <%= @user.age %></li>
  <li class="list-group-item" class="list-group-item">大学:  <%= @user.univ %></li>
  <li class="list-group-item">学年:  <%= @user.grade %></li>
</ul>
<h2>選考進捗状況</h2>
<table class="table table-striped table-bordered table-hover">
  <thead class="thead-default">
  <tr>
    <th>会社</th>
    <th>業種</th>
    <th>職種</th>
    <th>選考状況</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @progresses.each do |progress| %>
      <tr>
        <td><%= link_to progress.company_name, progress_path(progress.id) %></td>
        <td><%= progress.business_category %></td>
        <td><%= progress.occupation_category %></td>
        <td><%= progress.status %></td>
        <td><%= link_to '詳細', progress, :class=>'btn btn-success'%></td>
        <td><%= link_to '削除', progress, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
