<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<p>Name:  <%= @user.name %></p>
<p>Sex:   <%= @user.sex %></p>
<p>Age:   <%= @user.age %></p>
<p>Univ:  <%= @user.univ %></p>
<p>Grade: <%= @user.grade %></p>
