<h1>Users show</h1>

<p>User</p>

<%= link_to 'Users Index', users_path, :class=>'btn btn-info'%>
<%= link_to 'User Edit', edit_user_path, :class=>'btn btn-success'%>
<%= link_to 'User Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger' %>
<%= link_to '統計ページ', graphs_path, :class=>'btn btn-primary'%>

<ul>
  <li>Name:  <%= @user.name %></li>
  <li>Sex:   <%= @user.sex %></li>
  <li>Age:   <%= @user.age %></li>
  <li>Univ:  <%= @user.univ %></li>
  <li>Grade: <%= @user.grade %></li>
</ul>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-default">
  <tr>
    <th>Company Name</th>
    <th>Business Category</th>
    <th>Occupation Category</th>
    <th>Status</th>
  </tr>
  </thead>

  <tbody>
  <% @progresses.each do |progress| %>
      <tr>
        <td><%= link_to progress.company_name, progress_path(progress.id) %></td>
        <td><%= progress.business_category %></td>
        <td><%= progress.occupation_category %></td>
        <td><%= progress.status %></td>
      </tr>
  <% end %>
  </tbody>
</table>
